.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292e47;
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Fira Code", monospace;
}
.git {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.logo-home{
  padding: 10px;
}
.homepage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #363d5c;
}

.FormContainer {
  background: #292e47;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.Form {
  display: flex;
  flex-direction: column;
}
.FormInput {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #4a93ed;
  width: 100px;
  align-self: flex-end;
}
.create-room {
  color: #4a93ed;
  cursor: pointer;
  text-decoration: none;
}
.joinBtn:hover,
.leaveBtn:hover {
  background: #314587;
}
.homepage span {
  color: white;
}
.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}


.editorpage {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.left-panel {
  background: #1c1e29;
  padding: 14px;
  color: #fff;
  display: grid;
  position: relative;
}
.logo {
  font-family: "Fira Code", monospace;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #292e47;
}
.left-panel-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  grid-auto-rows: auto;
  background-color: #282a36;
  border-radius: 20px;
  gap: 10px;
  min-height: 40vh;
  max-height: 80vh;
  height: fit-content;
  padding: 8px;
  width: 190px;
  overflow: scroll;
}
.user-list::-webkit-scrollbar {
  display: none;
}

.left-panel-btns {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: center;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: white;
  height: fit-content;
}
.userName {
  margin-top: 10px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}
