.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #1c1e29e0;
}
Link{
  text-decoration: none;
}
.FormContainer {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.Form {
  display: flex;
  flex-direction: column;
}
.FormInput {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}



.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #4aed88;
  width: 100px;
  align-self: flex-end;
}
.create-room{
  color: #4aed88;
  cursor: pointer;
  text-decoration: none;
}
.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}
.homepage span{
  color: white;
}
.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}



.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

.editorpage {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.left-panel {
  background: #1c1e29;
  padding: 14px;
  color: #fff;
  display: grid;
  position: relative;
}
.left-panel-inner {
  display: flex;
  flex-direction: column;
}

.user-list {
  display: flex;
  flex-direction: column;
  background-color: #282a36;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  gap: 15px;
  min-height: 40vh;
  height: fit-content;
  padding: 8px;
}
.left-panel-btns{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: center;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  color: white;
  height: fit-content;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

  footer {
    position: fixed;
    bottom: 0;
  }
  
  footer a {
    color: #4aee88;
  }